*{
  margin: 0;
  padding: 0;
}
body{
  background-color :#fafbfc;
}
.text-center{
  text-align: center;
}

button{
  cursor: pointer;
  color:black;
  background-color: violet;
  border: none;
  border-radius: 20px;
  display: block;
  margin: 2px auto;
}